::selection {
  background: #faefb6;
}

html {
	background-color: #fdfdfd;
	color: #444;
	font-family:"Tahoma",sans-serif;
}


html.dark {
	background-color: #333;
	color: #eee;
}

html.serif{
font-family: "Nato Serif",Georgia,serif;
}



body {
	max-width: 768px;
	margin: 0 auto;
	padding: 0 22px;
	font-size:1em;
}

body nav {
	position: relative;
	width: 100%;
	display: inline-block;
	padding: 5px 0;
	line-height: 32px;
}

body nav a, body nav a:visited {
	color: inherit;
	opacity: 0.3;
	margin-right: 16px;
}

body nav a:hover {
	opacity: 1;
}

body nav a.active {
	opacity: 1;
}


body * {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

section{
margin-bottom:4em;

}

p {
	font-size: 1em;
	line-height: 1.75em;
	
}

a, a:visited {
	color: #0474bf;
	text-decoration: none;
}

a:hover {
	    opacity: 0.3;
}

h1 {
	font-weight: 400;
	font-size: 1.75em;
	color:#3B94D9;
}

h2 {
	font-weight: 400;
	font-size: 1.5em;
}

h3 {
	font-weight: 700;
	font-size: 1.25em;
}

em {
	font-style: italic;
}

time{
	line-height: 1.35em;
	font-size: 0.9em;
	opacity: 0.5;
}

hr {
	margin-top: 2em;
	opacity: 0.2;
	border-top-style: none;
	border-bottom: 1px solid;
	height: 1px;
}

ol li, ul li {
	line-height: 1.4em;
}

ol {
	list-style-type: none;
	counter-reset: ol-counter;
}

ol li:before {
	font-size: 0.8em;
	position: absolute;
	margin-left: -20px;
	margin-right: 10px;
	content: counter(ol-counter);
	counter-increment: ol-counter;
	text-align: center;
}

img {
	max-width: 100%;
}

footer{
	position: relative;
	width: 100%;
	display: block;
	padding: 22px 0;
	line-height: 32px;
	opacity: 0.3;
}
